body{
    background-color: darksalmon;
}

.cim {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.focivilag{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.focivilag a{
    font-size: 15px;
}

p{
    padding-right: 10px;
    padding-top: 20px;
}

.labda{
    width: 40%;
}

.tartalom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


header{
    background-image: url("focipalya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}




.messi{
    text-align: center;
}

.messikep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(139,0,0);
    background: linear-gradient(90deg, rgba(139,0,0,1) 26%, rgba(9,9,121,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.messikep img{
    width: 150px;
    border: 2px solid black;
}

.messikep img:hover{
    width: 240px;
    transition-duration: 2s;
}






.maradona{
    text-align: center;
}

.maradonakep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(173,216,230);
    background: linear-gradient(90deg, rgba(173,216,230,1) 26%, rgba(31,9,121,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.maradonakep img{
    width: 150px;
    border: 2px solid black;
}

.maradonakep img:hover{
    width: 270px;
    transition-duration: 2s;
}






.cristiano{
    text-align: center;
}

.cristianokep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,139);
    background: linear-gradient(90deg, rgba(0,0,139,1) 26%, rgba(255,255,255,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.cristianokep img{
    width: 150px;
    border: 2px solid black;
}

.cristianokep img:hover{
    width: 300px;
    transition-duration: 2s;
}






.pele{
    text-align: center;
}

.pelekep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(184,134,11);
    background: linear-gradient(90deg, rgba(184,134,11,1) 26%, rgba(0,60,0,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.pelekep img{
    width: 150px;
    border: 2px solid black;
}

.pelekep img:hover{
    width: 320px;
    transition-duration: 2s;
}





.zidane{
    text-align: center;
}

.zidanekep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(121,175,122);
    background: linear-gradient(90deg, rgba(121,175,122,1) 26%, rgba(0,55,60,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.zidanekep img{
    width: 150px;
    border: 2px solid black;
}

.zidanekep img:hover{
    width: 300px;
    transition-duration: 2s;
}



.jonah{
    text-align: center;
}

.jonahkep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,69,0);
    background: linear-gradient(90deg, rgba(255,69,0,1) 26%, rgba(214,212,13,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.jonahkep img{
    width: 150px;
    border: 2px solid black;
}

.jonahkep img:hover{
    width: 300px;
    transition-duration: 2s;
}




.best{
    text-align: center;
}

.bestkep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 30%, rgba(193,123,44,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.bestkep img{
    width: 150px;
    border: 2px solid black;
}

.bestkep img:hover{
    width: 300px;
    transition-duration: 2s;
}




.beckenbauer{
    text-align: center;
}

.beckenbauerkep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(87,81,81);
    background: linear-gradient(193deg, rgba(87,81,81,1) 30%, rgba(15,15,15,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.beckenbauerkep img{
    width: 150px;
    border: 2px solid black;
}

.beckenbauerkep img:hover{
    width: 270px;
    transition-duration: 2s;
}





.puskas{
    text-align: center;
}

.puskaskep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,128,0);
    background: linear-gradient(94deg, rgba(0,128,0,1) 30%, rgba(15,223,172,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.puskaskep img{
    width: 150px;
    border: 2px solid black;
}

.puskaskep img:hover{
    width: 270px;
    transition-duration: 2s;
}




.ronaldo{
    text-align: center;
}

.ronaldokep {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,0);
    background: linear-gradient(94deg, rgba(255,255,0,1) 30%, rgba(15,223,39,1) 100%);
    width: 400px;
    height: 300px;
    border-radius: 140px;
}

.ronaldokep img{
    width: 150px;
    border: 2px solid black;
}

.ronaldokep img:hover{
    width: 270px;
    transition-duration: 2s;
}


footer{
    text-align: center;
}

a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.labdakep{
    animation-name: labda;
    animation-duration: 5s;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    width: 200px;
}

@keyframes labda {
    0%   {left:0px; top:0px;}
    50%  {left:210%; top:0px; rotate: 720deg;}
    100% {left:0px; top:0px;}
}